/*******************************
* BOX MODEL FIX 
* Apply a natural box layout 
* model to all elements, but 
* allowing components to change 
********************************/

html {
    box-sizing: border-box;
    overflow-x: hidden;
    /* Set sizing so that 1rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    max-width: 100vw;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.lineBreak::after {
    content: "\a";
    white-space: pre;
}

.wave {
    margin-top: -2px;
    height: max-content;
    width: 100vw;
    overflow: hidden;
}

ul {
    margin: 2.5rem 0;
    padding-left: 2rem;
}

li {
    align-items: flex-start;
    margin-bottom: 1.5rem;
}

li img.icon {
    display: none;
}

/****** GLOBAL VARIABLES ******/

:root {
    /* colours */
    --primary-colour: #00d4ff;
    --primary-colour-light: #58defff2;
    --secondary-colour: #ffbe2e;
    --secondary-colour-light: #FDF3DA;
    /* Fonts */
    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Capriola', sans-serif;
    --primary-font-colour: white;
    --primary-font-colour-light: #ffffffd1;
    --secondary-font-colour: #0f4f9c;
    --secondary-font-colour-light: #7393BA;
    --mobile-line-height: 1.5;
    --mobile-font-size: 4.5vw;
    --mobile-font-size-landscape: 4.5vh;
    --tablet-font-size: 2.4vw;
    --desktop-font-size: 1.2vw;
    --large-desktop-font-size: min(1.3vw, 25px);
    /* Maging & Spacing */
    --mobile-x-margin: 2rem;
    --desktop-x-margin: 6rem;
    --large-desktop-x-margin: 12rem;
    --desktop-body-width: 55%;
}

/****** COMMON ******/
body {
    font-family: var(--primary-font);
    font-size: var(--mobile-font-size);
}

h1 {
    font-weight: 800;
    font-family: var(--secondary-font);
}

h2 {
    font-family: var(--secondary-font);
    color: var(--secondary-font-colour);
    font-weight: 600;
}

h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-font-colour-light);
    margin: 2rem 0 1rem;
    font-size: 4vw;
    margin-top: 4rem;
}

h2,
h3,
p {
    text-align: center;
}

section {
    padding: 9rem 0;
}

.container {
    margin: 0 var(--mobile-x-margin);
}

header{
    overflow: hidden;
    color: white;
    position: relative;
}


.info {
    font-size: 6.5vw;
}

.info h2 {
    font-size: 1em;
}

.info h3 {
    font-size: .8em;
}

.info ul {
    font-size: .7em;
}

.info p, .about p {
    color: var(--secondary-font-colour-light);
    text-align: center;
    font-weight: 600;
    font-size: .8em;
    padding: 2rem;
}

.scrollUp {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #C33149;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    opacity: 0;
    -webkit-transition: opacity .2s linear;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.scrollUp a {
    padding: 4vw;
}

.scrollUpShow {
    display: flex;
}

.fa-arrow-up {
    color: white;
}

.hide {
    display: none;
}

.rotate {
    transform: rotate(-90deg);
}

.rotate-180 {
    transform: rotate(180deg);
}

/****** NAV ******/
nav {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: max-content;
    overflow: hidden;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
    z-index: 9999;
}

.nav__container {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    max-height: max-content;
    position: relative;
}

.nav__bar {
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    justify-content: space-between;
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    -webkit-justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 2;
    padding: 2.5rem 3.5rem;
    background-color: var(--primary-colour);
}

.nav__logoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav__logoContainer img {
    height: 15vw;
    max-height: 70px;
    margin-right: 2rem;
}

.nav__logoContainer {
    font-family: var(--secondary-font);
    font-weight: 600;
}

.nav__logoContainer p {
    margin: 0;
    font-size: 7vw;
}

.nav__mobileMenuIcon {
    stroke: white;
    stroke-width: .08rem;
    width: 2.5rem;
    -webkit-transition: transform .1s linear;
    -moz-transition: transform .1s linear;
    -o-transition: transform .1s linear;
    transition: transform .1s linear;
}

.nav__options {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    -webkit-transition: height .1s linear;
    -moz-transition: height .1s linear;
    -o-transition: height .1s linear;
    transition: height .1s linear;
    z-index: 1;
    background-color: var(--primary-colour-light);
    padding: 2rem 0;
}

.nav__options a { 
    font-size: .6em;
    font-weight: 600;
    text-transform: uppercase;
    padding: .8rem 0;
    padding-left: 2.5rem;
    cursor: pointer;
    color: var(--primary-font-colour);
}

.nav__options a:hover {
    background-color: var(--secondary-colour-light);
    color: var(--secondary-font-colour);
    width: 100%;
}

/****** HEADER ******/
header {
    background-color: var(--primary-colour);
    height: max-content;
    font-size: 8vw;
}

.header__intro {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 85%;
    margin: calc(100vh/4) auto 0;
    padding-bottom: 4rem;
    height: max-content;
}

.header__intro>* {
    text-align: center;
}

h1,
.header__intro {
    color: var(--primary-font-colour);
}

h1,
header {
    margin: 0;
}

.header__title {
    font-size: 1em;
    display: block;
}

.header__subTitle {
    font-size: .55em;
    font-weight: 600;
    margin: 2rem 0;
    line-height: var(--mobile-line-height);
    color: var(--primary-font-colour-light);
}

.header__intro a {
    font-size: .5em;
    font-family: var(--secondary-font);
    color: var(--secondary-font-colour-light);
}

.header__imgContainer {
    width: 40%;
    margin: 8rem 0 0 -2rem;
}

.header__imgContainer picture {
    width: 100%;
}

.ctaButton {
    font-family: var( --primary-font ), Sans-serif;
    text-shadow: 1px 3px 9px rgb(255 255 255 / 79%);
    background-color: var( --secondary-colour );
    box-shadow: -5px -4px 17px 0px rgb(255 255 255 / 76%);
    border-radius: 50px 50px 50px 50px;
    padding: 15px 30px 15px 30px;
}

.ctaButton.ext {
    background-color: var( --secondary-colour-light );
}

header + .wave {
    background-color: #FDF3DA;
}

header + .wave svg {
    fill: var(--primary-colour);
    stroke: var(--primary-colour);
    width: calc(153% + 1.3px);
    height: 76px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


/****** MISSION ******/

.mission {
    padding-top: 0;
    padding-bottom: 2rem;
    background-color: var(--secondary-colour-light);
}

.mission .info p {
    font-weight: 400;
    padding: 0 1rem;
    margin-top: 1rem;
}

.mission__title {
    display: flex;
    justify-content: center;
}

.mission__title img {
    width: 7vw;
    margin-right: 1rem;
}

.mission__imgContainer {
    position: relative;
    width: 100%;
}

.mission__imgContainer picture {
    width: 100%;
    margin-top: -1px;
}

.mission__imgContainer .wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mission__imgContainer img {
    margin-bottom: 1px;
    width: 100%;
}

.mission__imgContainer .wave svg {
    height: 21px;
    fill: var(--secondary-colour-light);
    width: 100%;
    transform: rotateX(180deg);
}

.mission .container {
    margin: 6rem 0;
}

.mission + .wave {
    background-color: var(--secondary-colour);
    stroke: var(--secondary-colour-light);
    padding-bottom: 3rem;
}

.mission + .wave svg {
    fill: var(--secondary-colour-light);
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    display: block;
    width: calc(300% + 1.3px);
    height: 38px;
}

/****** TOKENOMICS ******/
.tokenomics {
    position: relative;
    background-color: #FFEBC0;
    padding: 0;
    margin-top: -1px;
    font-size: 6.5vw;
}

.tokenomics h2 {
    background: var(--secondary-colour);
    top: -1rem;
    margin-top: 0;
    position: relative;
    z-index: 9999;
    font-size: 1em;
}

.tokenomics p {
    color: var(--secondary-font-colour-light);
    top: -1rem;
    margin: 3rem auto 1rem;
    width: 90%;
    position: relative;
    z-index: 9999;
    padding: 2rem;
    background: #ffffffe6;
    border-radius: 20px;
    font-size: .8em;
}

.tokenomics .wave {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    line-height: 0;
    direction: ltr;
}

.tokenomics .wave:first-of-type {
    top: -1px;
}

.tokenomics .wave:first-of-type svg {
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    fill: var(--secondary-colour);
    height: 300px;
}

.tokenomics .wave:nth-of-type(2),
.tokenomics .wave:nth-of-type(3) {
    bottom: -1px;
}

.tokenomics .wave:nth-of-type(2) svg {
    height: 325px;
    fill: var(--secondary-colour-light);
    transform: translateX(-50%) rotateY(180deg);
}

.tokenomics .container {
    display: flex;
    flex-flow: column wrap;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.tokenomics__subContainer {
    margin-top: 0px;
    margin-bottom: -100px;
    z-index: 5;
}

.tokenomics__cloud {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 50px 50px 50px 50px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
}

.tokenomics__cloud:nth-of-type(1) {
    background-image: url(../img/Cloud-Left.png);
}

.tokenomics__cloud:nth-of-type(2) {
    background-image: url(../img/Cloud-Center.png);
}

.tokenomics__cloud:nth-of-type(3) {
    background-image: url(../img/Cloud-Right.png);
}

.tokenomics__cloud:nth-of-type(4) {
    background-image: url(../img/Cloud-Center.png);
}

.tokenomics__cloud::before {
    background-color: #52B6BC00;
    border-radius: 0px 0px 0px 0px;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.8;
}

.tokenomics__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 1;
    line-height: 1;
    text-align: center;
    font-size: 15vw;
}

.tokenomics__item > * {
    flex: 1 0 50%;
}

.tokenomics__itemNumber {
    text-align: right;
}

.tokenomics__itemSuffix {
    text-align: left;
}

.tokenomics__itemNumber, .tokenomics__itemSuffix {
    color: var(--primary-colour);
    font-family: var(--secondary-font);
    font-size: 1em;
    font-weight: 600;
    margin-top: 13px;
    display: inline-block;
}

.tokenomics__item h3 {
    font-size: .3em;
}

.tokenomics__itemTitle {
    font-family: var(--secondary-font);
    font-weight: 600;
    color: var(--secondary-colour);
    margin: 10px 0px 0px 0px;
    position: relative;
    display: block;
    text-transform: capitalize;
    font-style: normal;
    text-decoration: none;
    line-height: 1.1em;
    letter-spacing: 0px;
}

.tokenomics + .wave {
    background: white;
}

.tokenomics + .wave svg {
    height: 122px;
    fill: var(--secondary-colour-light);
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    transform: translateX(-50%) rotateY(180deg);
}

/****** ABOUT ******/
.about {
    padding:0;
}

.about + .wave {
    width: calc(300% + 1.3px);
    height: 90px;
    margin-top: -1px;
    overflow: visible;
}

.about + .wave svg {
    background: var(--secondary-colour-light);
}

.about + .wave svg path:nth-of-type(1) {
    fill: var(--secondary-colour);
}

.about + .wave svg path:nth-of-type(2) {
    fill: antiquewhite;
}

.about + .wave svg path:nth-of-type(3) {
    fill: white;
}

/****** HOW TO BUY & BLOG******/
.howToBuy, .blog {
    padding:0;
}

.howToBuy {
    padding-bottom: 4rem;
}

.intro__par {
    background: #ffffffeb;
    padding: 2rem;
    border-radius: 20px;
}

.howToBuy, .blog {
    background: var(--secondary-colour-light);
}

.howToBuy h2, .blog h2 {
    padding-top: 6rem;
    margin-top: 0;
}

.howToBuy__items, .blog__items {
    display: flex;
    flex-flow: column;
    margin: 4rem 0;
    font-size: 5.5vw;
}

.howToBuy__item, .blog__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    background: white;
    padding: 3rem 2rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.05);
}

.howToBuy__item__img, .blog__item__img {
    width: 40%;
    margin: 0 auto;    
}

.howToBuy__item img, .blog__item img {
    width: 100%;
    margin: 0 auto 0 -1rem;    
}

.howToBuy__item h3, .blog__item h3 {
    font-family: var(--secondary-font);
    color: var(--secondary-font-colour);
    font-weight: 600;
    font-size: 1em;
}

.howToBuy .howToBuy__item p, .howToBuy .blog__item p {
    color: var( --secondary-font-colour-light );
    font-weight: 600;
    font-size: .8em;
    margin: 0 auto;
    width: 90%;
}

.howToBuy .ctaButton, .blog .ctaButton {
    display: block;
    color: white;
    font-family: var( --secondary-font ), Sans-serif;
    font-weight: 400;
    background-color: var( --secondary-font-colour );
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: var( --secondary-font-colour );
    width: max-content;
}

.howToBuy .ctaButton {
    margin: auto;
}

.howToBuy + .wave svg {
    background: var(--secondary-colour-light);
    fill: white;
}

/****** ROADMAP *****/
.roadmap {
    padding: 3rem 0;
}

/* Gallery */
.small-items-gallery {
    margin: 0 0 2.5rem 2rem;
    position: relative;
    scroll-behavior: smooth;
}

.gallery-items-container {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1.5rem;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    -webkit-scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-scroll-snap-type: x mandatory;
    justify-content: start;
}

.gallery-items-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-items-container::-webkit-scrollbar {
    display: none;
}

.gallery-item {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.gallery-item .description-container {
    font-size: 4.5vw;
}

.gallery-items-container .description-container p,
.gallery-items-container .description-container h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.gallery-items-container .description-container h3 {
    /* margin: 1rem 0 .5rem; */
    color: var(--secondary-colour);
    font-size: 1.3em;
    -webkit-line-clamp: 2;
    text-align: left;
    text-transform: unset;
    padding: 1rem 3rem;
    border-bottom: var(--secondary-font-colour);
    border-bottom-width: 4px;
    border-bottom-style: solid;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 32px;
}

.gallery-items-container .description-container p {
    line-height: 120%;
    font-size: 4vw;
    margin: 0 0 .3rem;
    -webkit-line-clamp: 6;
    text-align: left;
}

.gallery-items-container .description-container ul {
    font-size: 1.1em;
    padding-left: 3rem;
}

/* .gallery-items-container .description-container img.icon {
    margin-top: 0;
}  */

.gallery-items-container .preview {
    font-weight: 700;
    color: black;
}

.gallery-items-container .preview:hover {
    color: #949292;
}

.gallery-items-container .fa-arrow-up {
    transform: rotate(45deg);
    font-size: smaller;
    color: black;
}

.small-items-gallery .gallery-item {
    width: calc(calc(100vw - 3.5rem)/1);
    transition: all .2s ease;
}

.gallery-item.fade-out {
    opacity: 0;
    width: 0;
}

.small-items-gallery .img-container {
    height: 0;
    padding-top: 100%;
    position: relative;
}

.small-items-gallery .gallery-item .img-container img {
    top: 0;
    position: absolute;
    object-fit: contain;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.small-items-gallery .gallery-item:hover img:nth-of-type(2) {
    transform: scale(1.1);
}

span.arrow {
    background: var(--secondary-font-colour);
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-top: -20px;
}

span.arrow:active {
    border: 3px solid rgb(226, 226, 226);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 1px, rgba(255, 255, 255, 0.7) 0px 0px 0px 5px;
    outline: thin;
    -webkit-transition: box-shadow 0.2s ease 0s;
    -moz-transition: box-shadow 0.2s ease 0s;
    -o-transition: box-shadow 0.2s ease 0s;
    transition: box-shadow 0.2s ease 0s;
}

span.arrow svg {
    width: 70%;
    height: 70%;
}

span.arrow polyline {
    stroke: white;
    stroke-width: .1rem;
}

.scroll-right {
    right: 3vw;
    padding: 10px;
}

.scroll-right::before {
    padding-left: 3px;
    padding-top: 2px;
}

.scroll-left {
    left: 0;
    padding: 10px;
}

.scroll-left::before {
    padding-right: 3px;
    padding-top: 2px;
}

.roadmap li {
    display: flex;
    margin: 0 2rem 3rem 0;
}

.roadmap li img.icon {
    display: inline;
    margin-top: 0;
    margin-right: 2rem;
    width: 2.5rem;
}

.roadmap + .wave {
    margin-top: 0;
    margin-bottom: -1px;
}

.roadmap + .wave svg {
    fill: var(--secondary-colour-light);
    width: 100%;
    display: block;
    transform: rotateX(180deg);
}

/****** DONATE ******/
.donate {
    background: var(--secondary-colour-light);
    background-image: url('../img/tanuki_handingout_gold_no_bg.png');
    background-size: 40vw;
    background-position: right bottom;
    background-repeat: no-repeat;
    padding: 4rem 0
}

.donate p {
    font-weight: 400;
    font-size: .7em;
}

.donate ul {
    margin-top: 6rem;
    padding-left: 0;
}

.donate li {
    display: flex;
    margin: 0 2rem 1rem 0;
}

.donate li img.icon {
    display: inline;
    width: 2rem;
    margin-right: 2rem
}

.donate + .wave {
    margin-top: 0;
    margin-bottom: -1px;
}

.donate + .wave svg {
    background: var(--secondary-colour-light);
    fill: var(--secondary-font-colour);
    width: 100%;
    display: block;
    transform: rotateX(180deg);
}

/****** FOOTER ******/
footer {
    font-size: 5vw;
    height: 20vh;
    max-height: 500px;
    min-height: 100px;
    background: var(--secondary-font-colour);
    color: var(--secondary-colour);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

footer .container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.socialButtons a {
    color: var(--secondary-colour);
    font-size: 1.2em;
    margin-right: 2vw;
}

footer p {
    margin: .5rem 0 0;
}

.disclaimer {
    font-size: .6em;
}

@media all and (min-width:768px) {

    /****** COMMON ******/
    body {
        font-size: var(--tablet-font-size);
    }

    .info {
        font-size: 5.5vw;
    }

    .scrollUp a {
        padding: 1.8vw;
    }

    ul {
        list-style-type: disc;
        /* padding-left: 0; */
    }

    li img.icon {
        margin-top: 0.5rem;
        margin-right: 1rem ;
        width: 2rem;
    }

    li {
        display: flex;
        margin: 0 2rem 3.5rem 0;
    }

    li img.icon {
        display: inline;
        margin-top: 0;
        margin-right: 2rem;
        width: 2.5rem;
    }

    .info ul {
        font-size: .6em;
    }

    /****** HEADER ******/
    header {
        font-size: 6vw;
    }

    h1 {
        font-size: 5vw;
    }

    .header__typedElements {
        text-align: start;
        width: 90%;
    }

    .nav__logoContainer p {
        font-size: 4vw;
    }

    .nav__logoContainer img {
        height: 7vw;
    }

    .header__intro {
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 90%;
    }

    .header__subTitle {
        margin-top: 1rem;
        width: 90%;
        text-align: start;
    }

    .header__intro a {
        font-size: 2vw;
    }

    .header__imgContainer {
        margin-top: 0;
        margin-left: -4rem;
    }

    /****** MISSION ******/
    .mission__imgContainer .wave svg {
        height: 33px;
    }
    
    .mission .info {
        margin: auto;
    }

    .mission .info p {
        font-size: .7em;
    }

    .mission__title img {
        width: 6vw;
        margin-right: 2rem;
    }

    .mission + .wave svg {
        height: 107px;
    }

    /***** TOKENOMICS *****/
    .tokenomics {
        font-size: 5vw;
    }
    
    .tokenomics h2 {
        background: none;
    }

    .tokenomics p, .howToBuy p {
        width: 85%;
        border-radius: 50px;
        padding: 2rem 3rem;
        font-size: .5em;
    }

    .tokenomics__item {
        font-size: 9vw;
    }

    .tokenomics__subContainer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        gap: 3rem;
    }

    .tokenomics__cloud {
        width: 45%;
    }

    /******* HOW TO BUY & ABOUT ******/
    .howToBuy__items, .about__items {
        font-size: 3vw;
    }

    .about h3, .howToBuy h3 {
        margin: 0;
    }

    .about ul {
        width: 85%;
        margin: 6rem auto;
    }

    .about .info p {
        font-size: .8em;
    }

    .roadmap .info {
        width: 80%;
        margin: 0 auto;
    }

    .howToBuy h2 {
        margin-top: revert;
    }

    .howToBuy p {
        margin: auto;
        font-weight: 400;
    }

    .howToBuy__items, .blog__items {
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .howToBuy__item, .blog__item {
        width: calc(calc(100vw - 8rem)/3);
        margin: 0;
        padding: 3rem 0;
    }

    .howToBuy .howToBuy__item p {
        padding: 2rem 0;
        font-weight: 400;
    }

    /******* ROADMAP ******/
    .roadmap p {
        font-size: 3vw;
    }

    /* Gallery */
    .gallery-items-container .description-container {
        width:70%;
        margin: 0 auto;
    }

    .gallery-items-container .description-container h3 {
        margin: 2rem auto;
        margin-left: 0;
        width: 80%;
    }

    .gallery-items-container .description-container ul {
        margin: 4rem auto;
        padding-left: 0;
    }

    .gallery-items-container .description-container li {
        font-size: 3vw;
        margin: 0 2rem 1.5rem 0;
    }

    .gallery-items-container .description-container p {
        font-size: 2.8vw;
    }

    span.arrow {
        width: 5vw;
        height: 5vw;
    }

    .scroll-right {
        right: 4vw;
    }

    .scroll-left {
        left: 4vw;
    }

    .donate {
        background-size: 25vw;
    }

    /****** FOOTER ******/
    footer {
        font-size: 4vw;
    }

    .socialButtons a {
        margin-right: 1vw;
    }
}

@media all and (min-width:824px) {

    /****** HEADER ******/
    .header__intro a {
        font-size: 1.6vw;
    }

    /* Small Items Gallery */
    .small-items-gallery {
        margin-right: 2rem;
    }

    /* .small-items-gallery .gallery-item {
        width: calc(calc(100vw - 9.5rem)/4);
    } */
}

@media all and (min-width:1024px) {

    /****** COMMON ******/
    body {
        font-size: var(--desktop-font-size);
    }

    .info {
        font-size: 4.5vw;
    }

    p.intro__par {
        width: 75%;
        background: #ffffffeb;
        border-radius: 50px;
    }

    h2 {
        font-weight: 400;
    }

    h3 {
        font-size: 1.8vw;
    }

    .tokenomics__subContainer {
        gap: 4rem 3rem;
    }

    .scrollUp {
        display: none;
    }

    /****** NAV ******/
    .nav__container {
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
        padding: 3rem 5rem;
    }

    .nav__bar {
        padding: 0;
    }

    .nav__logoContainer p {
        font-size: 3vw;
        margin: 0;
    }

    .nav__logoContainer img {
        height: 5.5vw;
    }

    .nav__mobileMenuIcon {
        display: none;
    }

    .nav__options {
        display: flex;
        flex-flow: row;
        align-items: center;
        padding: 0;
        background: none;
        opacity: 1;
        font-size: 2.5vw;
    }

    .nav__options a {
        text-transform: uppercase;
        margin-right: 3rem;
        padding: 1rem;
    }

    .nav__options a:last-of-type {
        display: none;
    }

    .nav__options a:first-of-type,
    .nav__options a:last-of-type {
        padding: 1rem;
    }

    .nav__options a:hover {
        color: #2c82c9;
        width: max-content;
    }

    .nav__options a:last-of-type {
        margin-right: 0;
    }

    /****** HEADER ******/
    header {
        font-size: 4.5vw;
    }

    .header__intro {
        margin: calc(100vh/7) auto 0;
    }

    .lineBreak::after {
        content: "\a";
        white-space: revert;
    }

    .header__imgContainer {
        width: 30%;
    }

    /****** MISSION ******/
    .mission {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        padding-top: 7rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .mission__imgContainer .wave {
        display: none;
    }

    .mission .container {
        margin-top: 0;
        opacity: 1;
    }

    .mission__title {
        display: block;
    }

    .mission__title img {
        display: none;
    }

    .mission .info p {
        font-size: .6em;
    }

    .mission h2 {
        text-align: left;
        margin: 0;
    }

    .mission p {
        font-weight: 400;
        text-align: left;
    }

    /****** TOKENOMICS *****/
    .tokenomics p {
        font-weight: 400;
        margin-bottom: 3.5rem;
    }

    .about .subContainer {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .about ul {
        width: 100%;
        text-align: left;
    }

    /****** HOW TO BUY ******/

    .howToBuy .ctaButton {
        margin-top: 4rem;
        font-size: 2vw;
        padding: 2rem 3rem;
    }

    /****** ROADMAP ******/
    .small-items-gallery {
        margin: 1.5rem var(--desktop-x-margin);
    }

    .gallery-items-container {
        grid-gap: 2.5rem;
    }

    .small-items-gallery .img-container {
        padding-top: 60%;
        margin-bottom: 3rem;
    }

    .small-items-gallery .gallery-item .img-container img {
        padding: 2rem;
    }


    .gallery-items-container .description-container h3 {
        font-size: 2.5vw;
        color: var(--secondary-colour);
    }

    .gallery-items-container .description-container p {
        font-size: 1.8vw;
    }

    .gallery-items-container p.preview {
        font-size: 1.7vw;
        margin-top: .8rem;
    }

    /****** DONATE ******/
    .donate .info {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    /****** FOOTER ******/
    footer {
        height: 30vh;
        max-height: 540px;
    }

    .socialButtons a {
        font-size: 4vw;
    }

    .disclaimer {
        margin-top: .5rem;
        font-size: 1.5vw;
    }

    footer p {
        margin-top: 1rem;
        font-size: 2vw;
    }
}

@media all and (min-width:1128px) {
    /****** COMMON ******/
    h2 {
        font-size: clamp(50px, 3.4vw, 60px);
    }

    p.intro__par {
        width: 60%;
    }

    .info {
        font-size: 3.5vw;
    }

    .info p, .tokenomics p, .about p {
        font-size: clamp(34px, 2vw, 40px);
    }

    /****** HEADER ******/
    .nav__container {
        padding-right: clamp(5rem, 8vw, 15rem);
    }

    .nav__container img {
        height: 4.5vw;
        min-height: 70px;
        max-height: 85px;
    }

    .nav__options a {
        font-size: clamp(15px, .6em, 30px);
    }

    .header__intro {
        margin: calc(100vh/4) auto 0;
    }

    .header__typedElements {
        width: 70%;
    }

    .header__title {
        font-size: clamp(60px, 1em, 80px);
    }

    .header__subTitle {
        font-size: clamp(25px, .55em, 35px);
    }

    header .ctaButton {
        font-size: clamp(27px, 1.75vw, 31px);
    }

    /****** MISSION ******/
    .mission picture img {
        width: 80%;
        min-width: 212.5px;
        max-width: 350px;
        display: block;
        margin: auto;
    }

    /****** TOKENOMICS ******/
    .tokenomics__item {
        font-size: clamp(92px, 7vw, 104px);
    }

    .tokenomics + .wave svg {
        height: max-content;
    }

    /****** ABOUT & HOW TO BUY *******/
    .about h3, .howToBuy h3 {
        font-size: clamp(33px, 3vw, 37px);
    }

    .about ul {
        font-size: clamp(28px, 2.5vw, 33px);
    }
}

@media all and (min-width:1360px) {

    /***** ROADMAP ******/
    .roadmap li {
        align-items: center;
    }

    .roadmap li img.icon {
        width: 1.5rem;
    }
    /* Gallery */
    .small-items-gallery {
        margin: 1.5rem var(--large-desktop-x-margin);
    }

    .small-items-gallery .gallery-item {
        width: calc(calc(100vw - 26rem)/4);
    }

    .gallery-items-container .description-container {
        margin: 0;
        width: 100%
    }

    .gallery-items-container .description-container li {
        font-size: clamp(20px, 1vw, 30px);
        margin: 1rem 0;
    }

    .gallery-items-container .description-container h3 {
        font-size: 2vw;
        font-size: min(1.8vw, 3.1rem);
    }

    .gallery-items-container .description-container p {
        font-size: 1.8vw;
        font-size: min(1.4vw, 2.8rem);
    }

    .gallery-items-container p.preview {
        font-size: 1.7vw;
        font-size: min(1.2vw, 2.6rem);
    }

    span.arrow {
        width: 3vw;
        height: 3vw;
        max-width: 6.1rem;
        max-height: 6.1rem;
    }

    /****** FOOTER ******/
    .socialButtons a {
        font-size: 3.2rem;
        font-size: min(2.1vw, 3.8rem);
    }

    footer p {
        font-size: 2.4rem;
        font-size: min(1.6vw, 3rem);
    }
}

/****** ANIMATIONS ******/
@keyframes fillRatingBars {
    from {
        width: 0%;
    }

    to {
        width: calc((var(--value) / 5) * 100%);
    }
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeInUp {
    animation-name: fadeInUp;
}

.fadeInRight,
.fadeInLeft,
.fadeIn,
.fadeInUp {
    animation-duration: .8s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}